In [26]:
import pandas as pd
import numpy as np

In [27]:
data=pd.read_csv('deliveries.csv')

In [28]:
data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150455,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150456,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
150457,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
150458,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [29]:
data.shape

(150460, 21)

In [30]:
leadingrun=data.groupby('batsman')

In [31]:
leadingrun.size().sort_values(ascending=False)

batsman
V Kohli           3494
G Gambhir         3433
SK Raina          3369
RG Sharma         3274
S Dhawan          3005
                  ...
S Kaushik            1
DP Vijaykumar        1
V Pratap Singh       1
U Kaul               1
NJ Rimmington        1
Length: 461, dtype: int64

In [32]:
leadingrun['batsman_runs'].sum().sort_values(ascending=False)

batsman
SK Raina        4548
V Kohli         4423
RG Sharma       4207
G Gambhir       4132
DA Warner       4014
                ...
Abdur Razzak       0
S Kaushik          0
S Ladda            0
U Kaul             0
RR Bhatkal         0
Name: batsman_runs, Length: 461, dtype: int64

In [33]:
#Question sb sy zayda 4 kis na mara
#sb sy pehlay wo rows alag karay gay jaha runs 4 ho gay
maximumBoundry=data['batsman_runs']==4

In [34]:
#data series may show ho ga
maximumBoundry

0         False
1         False
2          True
3         False
4         False
          ...
150455    False
150456    False
150457    False
150458    False
150459     True
Name: batsman_runs, Length: 150460, dtype: bool

In [35]:
# us series walay data ko dataframe may convert karna ka liya original data frame may maximumboundry wala data mask kar day gay
data[maximumBoundry]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
8,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,2,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
13,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,7,MC Henriques,S Dhawan,A Choudhary,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
30,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,5,5,MC Henriques,S Dhawan,S Aravind,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
32,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,6,1,S Dhawan,MC Henriques,SR Watson,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150403,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,11,4,V Kohli,AB de Villiers,BCJ Cutting,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150407,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,2,V Kohli,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150418,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,14,1,KL Rahul,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150447,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,18,6,Sachin Baby,STR Binny,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
150459,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [36]:
#ab us data frame ko batsman k hisab sy groups may distribute kar day gay
data[maximumBoundry].groupby('batsman')['batsman_runs'].count().sort_values(ascending=False)

batsman
G Gambhir         484
SK Raina          402
DA Warner         401
S Dhawan          401
V Kohli           384
                 ...
S Gopal             1
DE Bollinger        1
Sandeep Sharma      1
Shivam Sharma       1
KAJ Roach           1
Name: batsman_runs, Length: 368, dtype: int64

In [37]:
# ab leading 6 hitters
leadingsixes=data['batsman_runs']==6

In [38]:
data[leadingsixes]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
10,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,2,4,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
47,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,8,4,MC Henriques,S Dhawan,TM Head,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
75,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,13,2,Yuvraj Singh,MC Henriques,A Choudhary,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
89,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,15,3,Yuvraj Singh,MC Henriques,S Aravind,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
91,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,15,5,MC Henriques,Yuvraj Singh,S Aravind,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150395,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,10,2,V Kohli,CH Gayle,Mustafizur Rahman,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150413,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150428,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,15,5,SR Watson,KL Rahul,MC Henriques,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150440,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,17,5,STR Binny,Sachin Baby,Mustafizur Rahman,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150453,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,19,6,Sachin Baby,CJ Jordan,Mustafizur Rahman,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN

In [39]:
data[leadingsixes].groupby('batsman').count()['batsman_runs'].sort_values(ascending=False)

batsman
CH Gayle         266
SK Raina         174
RG Sharma        173
V Kohli          160
DA Warner        160
                ...
CK Langeveldt      1
CR Woakes          1
P Sahu             1
DE Bollinger       1
Basil Thampi       1
Name: batsman_runs, Length: 301, dtype: int64

In [40]:
#Question kohli sy sb sy zayda runs kis team k agaist maray
# sb sy pehlay mujhay virat ka data nikalna hy
virat=data['batsman']=='V Kohli'

In [41]:
#virat ka pura data aagaya
data[virat]

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
2590,12,1,Royal Challengers Bangalore,Mumbai Indians,1,2,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
2591,12,1,Royal Challengers Bangalore,Mumbai Indians,1,3,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2593,12,1,Royal Challengers Bangalore,Mumbai Indians,1,5,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2594,12,1,Royal Challengers Bangalore,Mumbai Indians,1,6,V Kohli,CH Gayle,TG Southee,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
2597,12,1,Royal Challengers Bangalore,Mumbai Indians,2,1,V Kohli,CH Gayle,Harbhajan Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150410,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,12,5,V Kohli,AB de Villiers,Bipul Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
150413,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,2,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
150414,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,3,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150415,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,4,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
150416,636,2,Royal Challengers Bangalore,Sunrisers Hyderabad,13,5,V Kohli,AB de Villiers,BB Sran,0,...,0,0,0,0,0,0,0,V Kohli,bowled,NaN

In [42]:
#ab is data ko bowling team k hisab sy distribute kar day gay
viratruns=data[virat].groupby('bowling_team')

In [43]:
#ab is group k bases pay runs ko sum kar do
viratruns['batsman_runs'].sum().sort_values(ascending=False).head(3)

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [44]:
# creat function to know k is batsman na kis team k against high run score kiya ha.
def top_runs_against(batsman):
    batsman=data['batsman']==batsman
    data[batsman]
    bowlingteam=data[batsman].groupby('bowling_team')
    return bowlingteam['batsman_runs'].sum().sort_values(ascending=False).head(3)

In [45]:
top_runs_against('V Kohli')

bowling_team
Chennai Super Kings    706
Delhi Daredevils       661
Kings XI Punjab        483
Name: batsman_runs, dtype: int64

In [46]:
# sirf runs pta karnay hy tou values
def top_runs_against(batsman):
    batsman=data['batsman']==batsman
    data[batsman]
    bowlingteam=data[batsman].groupby('bowling_team')
    return bowlingteam['batsman_runs'].sum().sort_values(ascending=False).values[0]

In [47]:
top_runs_against('V Kohli')

706

In [48]:
# agar sirf team ka pat karna hy tou sirf index liknay
def top_runs_against(batsman):
    batsman=data['batsman']==batsman
    data[batsman]
    bowlingteam=data[batsman].groupby('bowling_team')
    return bowlingteam['batsman_runs'].sum().sort_values(ascending=False).index[0]

In [49]:
top_runs_against('V Kohli')

'Chennai Super Kings'

In [50]:
#Question sb sy khatarnak strike rate kis batsman ka hy 16 sy 20 overs k darmiyan
#srtike rate =(no of runs/no of balls)/100

In [55]:
# sb sy pehlay over 16 sy 20 tk ka record nikalay gay
DeathOverData=data['over']>=16

In [60]:
# wo saraybatsman aagay jinho na 16 sy 20 k overs may kitnay run kiya ha == count sy pta chalay ga k kis na kitnay balls paly ki hy
data[DeathOverData].groupby('batsman')['batsman_runs'].count()

batsman
A Ashish Reddy    148
A Chandila          7
A Chopra            2
A Choudhary        20
A Flintoff         18
                 ...
YS Chahal          27
YV Takawale        13
Yashpal Singh      13
Yuvraj Singh      516
Z Khan            109
Name: batsman_runs, Length: 416, dtype: int64

In [66]:
# agar mujhya ya condition lagani hay k kam sy kam 200 balls kahli ho
# upar wo saray batsman thay jinho na 1 khali ho ya 200 balls khali ho
all_batsman=data[DeathOverData].groupby('batsman')['batsman_runs'].count()

In [76]:
# ab may na us data py condition laga di k kam sy kam 200
x=all_batsman>200
# ab all_batsman wala data py mask kr diya filter wali condition
# is in function k liya zarori hota hay k data list ki form may ho is liya just players k name ko index sy fetch kar k list may convert kar diya ha
all_batsmanlist=all_batsman[x].index.tolist()

In [77]:
data['batsman'].isin(all_batsmanlist)

0          True
1          True
2          True
3          True
4          True
          ...
150455    False
150456    False
150457    False
150458    False
150459    False
Name: batsman, Length: 150460, dtype: bool

In [80]:
# ab masking karay gay ta k real data fetch ho sakay un batsman k hisab sy
masking=data['batsman'].isin(all_batsmanlist)
final=data[masking]

In [81]:
runs=final.groupby('batsman')['batsman_runs'].sum()

In [82]:
balls=final.groupby('batsman')['ball'].count()

In [84]:
strikeRate=(runs/balls)*100

In [88]:
strikeRate

batsman
A Mishra             89.005236
AB de Villiers      145.129059
AD Mathews          120.868114
AM Rahane           117.486549
AR Patel            122.672065
AT Rayudu           123.014257
BJ Hodge            121.422376
DA Miller           137.709251
DA Warner           138.318401
DJ Bravo            122.286822
DJ Hussey           120.072661
DPMD Jayawardene    118.791064
Harbhajan Singh     135.194585
IK Pathan           116.751269
JA Morkel           136.938202
JH Kallis           105.936272
JP Duminy           121.970624
JP Faulkner         129.802956
KA Pollard          140.621266
KD Karthik          123.008475
KM Jadhav           130.555556
LRPL Taylor         120.070838
MK Pandey           116.938453
MK Tiwary           114.127424
MS Dhoni            132.835821
NV Ojha             114.528024
P Kumar             105.263158
PP Chawla           110.278373
R Vinay Kumar       106.666667
RA Jadeja           118.792867
RG Sharma           128.497251
RV Uthappa          127.635135
S Badrinath         115.742972
S Dhawan            118.502496
SK Raina            134.995548
SPD Smith           128.507127
SS Tiwary           114.851485
STR Binny           123.747981
V Kohli             126.588437
WP Saha             127.727646
Y Venugopal Rao     113.872832
YK Pathan           140.751445
Yuvraj Singh        126.390244
dtype: float64